<ul class="nav nav-tabs mb-4">
    <li class="nav-item"><a class="nav-link" asp-action="Index">Пользователи</a></li>
    <li class="nav-item"><a class="nav-link active" asp-action="Projects">Проекты</a></li>
    <li class="nav-item"><a class="nav-link" asp-action="Teams">Команды</a></li>
    <li class="nav-item"><a class="nav-link" asp-action="ProjectApplications">Заявки на проекты</a></li>
    <li class="nav-item"><a class="nav-link" asp-action="ProjectExchanges">Биржи проектов</a></li>
    <li class="nav-item"><a class="nav-link active" asp-action="CompanyCards">Заявки на роль Заказчик</a></li>
    <li class="nav-item"><a class="nav-link" asp-action="Competencies">Компетенции</a></li>
</ul>
